<table class="table table-hover">
  <% entry['fields'].then do |fields| %>
    <thead class="thead-dark">
      <tr>
        <% fields.keys.each do |key| %>
          <th scope="col"><%= key %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <tr>
          <% fields.values.each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
    </tbody>
  <% end %>
</table>
